.buttonLight{
background-color: aqua;
color: brown;
}
.buttonDark{
    background-color: brown;
    color: aqua;

}
.buttonBase{
    padding: 1rem;
    font-size:30px;
    width: 100%;
    height: 200px;

}